<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>result of rareTeam test</title>
    <link rel="icon" href="/images/rt.jpg" />
    <style>
        *{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Result Rare team test</h1>
    <h2>Note:This Page no one can enter it except admins only </h2>
    <h2>if you accept the member to join the clan please send him message from Discord Name in DM(private) in Discord if he closed his DM(private) mention him in this channel (#accepted-users)</h2>
    <hr>
    <br>
    
    <ul id="pageList">

    </ul>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
<script src="/js/index.js"></script>
</body>
</html>