<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <label for="pswd">Enter your password: </label>
        <input type="password" id="pswd">
        <input type="button" value="Submit" onclick="checkPswd();" />
    </form>
    <!--Function to check password the already set password is admin-->
    <script>
        function checkPswd() {
            var confirmPassword = "5656";
            var password = document.getElementById("pswd").value;
            if (password == confirmPassword) {
                 window.location="/943jfdhviutgvyitedgiuehtgiuudtyihgtdouighdtiugdiytrhgiudgjouutgutdugutdugiuorhihfrehjherfhyerhfuyrefhreuhfihoerfiyorehfireuhfiuerhfiuerhiufveryuyfvhgrfuerfhreugyhtightehgyhgyt8hgy8uthg8yutrhg8urhg53573465734597934edwe7568346vvv587934dd3455657348ddddjijj658756785635783465374653486537486563845";
            }
            else{
                alert("Passwords do not match.");
            }
        }
    </script>
</body>
</html>