<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
    <li>email: <%= ll.email %></li>
    <li>platform: <%= ll.platform %></li>
    </ul>
</body>
</html>