<!DOCTYPE html>
<html lang="en">
<head>
      
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RareTeam Test</title>
    <link rel="icon" href="/images/rt.jpg" />
    <link rel="stylesheet" href="/css/main.css" />
  
</head>

<body>
    
    <form method="POST" action="/api/posts" id="form">
        <img src="/images/rt.jpg" width="100" height="90" class="rt" />
        <h6>If you are an admin please press this button to have access to the tryout request.</h6>
    <a href="/check-password">
        <p >join data users</p>    
    </a>
    <h1 style="text-align: center;">Welcome to RareTeam Tryout request.</h1>
    <h2 style="text-align: center;">We made this website for professional Fortnite players to join the team.</h2>
    <h1 style="text-align: center;">If you haven't joined the server yet click "JOIN SERVER" Button. (Important)</h1>

    <a href="https://discord.gg/uZRan2Zdys" >
   <center> <button class="btn">JOIN SERVER</button></center>
   
    </a>
        <div>
            <p>1-What is your name?</p>
        </div>
    <p>
        
    <input type="text" placeholder="your name" name="name1" class="txtb" required/>
    </p>
        </div>
        <div>
    <p>
        2-platform?
    </p>
        <p class="pradio">
    <input  type="radio" value="ps4"   name="q11" class="radio" required />
    PS4
        </p>
    <p class="pradio">
    <input  type="radio" name="q11" class="radio" value="Xbox" required />
    Xbox
    </p>
    <p class="pradio">
        <input  type="radio" class="radio" value="nintendo switch" name="q11" required/>
        Nintendo Switch
    </p>
    <p class="pradio">
        <input  type="radio" value="PC" class="radio" name="q11" required/>
        PC
    </p>
    <p >
        <input  type="radio" value="Mobile" name="q11" class="radio"  required/>
        Mobile
    </p>
    </div>

    <div>
        <p>3-How Old Are You?</p>
        <p class="pradio">
            <input  type="radio" value="10-14" class="radio" name="q21" required/>
            10-14
        </p>
        <p class="pradio">
        <input   type="radio" value="14-18" class="radio" name="q21" required/>
        14-18
        </p>
        <p class="pradio">
            <input  type="radio" value="18-25" class="radio" name="q21" required/>
            18-25
        </p>
        <p class="pradio">
            <input  type="radio" value="+25" class="radio" name="q21" required/>
            25+
        </p>

    </div>

    <div>
        <p>4-your Discord username(user#0000)</p>
        <p>
            <input   class="txtb" name="dsnm1" type="text" placeholder="discord name (user#0000)"  required/>
        </p>
    
    <div id="alignb">
        <p>5-what season did you start playing fortnite? </p>
        <p>
            <input  class="txtb" id="alignb" type="text" name="season1" placeholder="season (your answer)" required/>
        </p>
    
    
        <p >6-What is your input?</p>
        <p  class="pradio">
            <input  type="radio" value="mouse and keyboard" class="radio" name="q31" required/>
            mouse & keyboard
        </p>
        <P class="pradio">
        <input  type="radio" class="radio" value="controller" name="q31" required/>
        controller
        </P>
    
    
        <p>7-What is your EpicGames username</p>
        <input  type="text" name="epic1" class="txtb" required/>
    
    
        <p>8-put your RC Link youtube</p>
        <input  type="text" name="rc1" class="txtb" required/>
    </div>
    <br />
       
    <button type="submit" value="Submit Request" class="btn">submit Request</button>
        
</form>
<!--script src="/js/index.js"></script-->
<!--script src="/js/lib/jquery-3.5.1min.js"></script-->
</body>
</html>
    